// 颜色
$--color-primary: #1890ff;
$--color-success: #24a148;
$--color-warning: #f1c21b;
$--color-danger: #da1e28;

// 字体颜色
$--color-text-primary: #333333;
$--color-text-regular: #666666;
$--color-text-secondary: #999999;
$--color-text-placeholder: #c0c4cc;

/* 背景颜色 */
$--color-bg-base: #ffffff;
$--color-bg-secondary: #efefef;
